:root {
}
html {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.unstyled-list {
  list-style: none;
}
.link {
  font-family: "Open Sans";
  color: #fff;
  text-decoration: none;
}
.header-navigation {
  background-color: gray;
}
